
<link rel="stylesheet" href="~/css/ClimatStyle.css" asp-append-version="true" />
<body class="body">
    <nav>
        <h1><a asp-controller="Value" asp-action="Index" id="atext">Управління мікрокліматом</a></h1>
        <ul>
            <li><a asp-controller="Value" asp-action="Cab">Особистий кабінет</a></li>
            <li><a asp-controller="" asp-action="">Тарифний план</a></li>
            <li><a asp-controller="Temp" asp-action="Temp">Температура</a></li>
            <li><a asp-controller="Humidity" asp-action="Humidity">Вологість</a></li>
            <li><a asp-controller="Light" asp-action="Light">Світло</a></li>
            <li><a asp-controller="BasePage" asp-action="Index">Вийти</a></li>
        </ul>
    </nav>
    <div class="container">
        <main>
            <p>Логін: @ViewBag.Name</p>
            <p>Електронна пошта: @ViewBag.Email</p>
            <p>Температура: @ViewBag.Temperature градусів Цельсія</p>
            <p>Вологість: @ViewBag.Humidity %</p>
            <p>Освітлення: @ViewBag.Light люменів</p>
            <p>Батареї:
                @if ((bool)ViewBag.Battery)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>Котел:
                @if ((bool)ViewBag.Kotel)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Камін:
                @if ((bool)ViewBag.Kamin)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Обігрівач:
                @if ((bool)ViewBag.Obigriv)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Лампа розжарювання:
                @if ((bool)ViewBag.Lamp)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Підлога з підігрівом:
                @if ((bool)ViewBag.Bottom)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Кондиціонер:
                @if ((bool)ViewBag.Cond)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Зволожувач повітря:
                @if ((bool)ViewBag.Humidifier)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Вентилятор:
                @if ((bool)ViewBag.Fan)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Дезгідратор:
                @if ((bool)ViewBag.Dehydrator)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Захист від запотівання:
                @if ((bool)ViewBag.Protector)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Регулятор повітря:
                @if ((bool)ViewBag.Regulator)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Гігрометр:
                @if ((bool)ViewBag.Hygrometer)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Диммер:
                @if ((bool)ViewBag.Dimmer)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Освітлювальна лампа:
                @if ((bool)ViewBag.LampLight)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                ЛЕД-лампа:
                @if ((bool)ViewBag.LedLamp)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
            <p>
                Штори:
                @if ((bool)ViewBag.Curtains)
                {
                    <span>Відкриті</span>
                }
                else
                {
                    <span>Закриті</span>
                }
            </p>
            <p>
                Жалюзі:
                @if ((bool)ViewBag.Jalousie)
                {
                    <span>Відкриті</span>
                }
                else
                {
                    <span>Закриті</span>
                }
            </p>
            <p>
                Світловідбивачі:
                @if ((bool)ViewBag.Reflector)
                {
                    <span>Ввімкнено</span>
                }
                else
                {
                    <span>Вимкнено</span>
                }
            </p>
        </main>
    </div>
    <footer class="footer">
        <p>&copy; 2023 Управління мікрокліматом</p>
        <p>
            У випадку несправності сайту або виникнення пропозицій щодо покращення роботи сайту - використовуйте ці посилання:
            <a href="https://t.me/maks23438">
                <img id="Telegram" src="~/css/Telegram_X_2019_Logo.svg.png">
            </a>
            <a href="https://instagram.com/maks_milik?igshid=NTc4MTIwNjQ2YQ==">
                <img id="Instagram" src="~/css/1200px-Instagram.svg.png">
            </a>
        </p>
    </footer>
    <script src="Climat.js"></script>
</body>